<footer>
    <p>&copy; <a href="https://github.com/devcat86" target="_blank">devcat86</a> & <a href="https://github.com/4vanyek" target="_blank">4vanyek</a> 2023</p>
    <p style="margin: 10px;">|</p>
    <div class="social-icons-container right"> <!-- иконки соцсетей -->
        <ol class="social-icons">
            <li><a href="https://discord.com/users/1102902223870119977"><i class="fa-brands fa-discord social-icon"></i></a></li>
            <li><a href="https://4pda.to/forum/index.php?showuser=10810870"><i class="fa-solid fa-4 social-icon"></i></a></li>
            <li><a href="https://github.com/devcat86"><i class="fa-brands fa-github social-icon"></i></a></li>
            <li><a href="https://youtube.com/@therealdevcat86"><i class="fa-brands fa-youtube social-icon"></i></a></li>
        </ol>
    </div>
</footer>